<a href="https://colab.research.google.com/github/GuptaTanay/Back-button/blob/master/Battery_Level_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
from google.colab import files
uploaded = files.upload()

Saving BatteryLogs.xlsx to BatteryLogs.xlsx

In [8]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_excel('BatteryLogs.xlsx')

In [10]:
data.head()

             timestamp                             scode  level
0  2021-04-23 07:44:08  3320e01c4f1d6fa898adbeda981150dc      6
1  2021-04-23 07:04:07  ea05a2a12ce40e29289cc6dd9587b665      7
2  2021-04-22 14:56:25  ca1441c0b8503ef6e77620bf602dae49      4
3  2021-04-22 14:47:49  ca1441c0b8503ef6e77620bf602dae49      4
4  2021-04-22 13:51:47  c47b970da888de5b0c0f299ed8a0cda7      2

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585 entries, 0 to 584
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  585 non-null    object
 1   scode      585 non-null    object
 2   level      585 non-null    int64
dtypes: int64(1), object(2)
memory usage: 13.8+ KB

In [12]:
data.scode.nunique()

24

In [27]:
data.scode.value_counts()

fb706770fada9fb20c6e76ddac98e65c    89
9808db3efa5781dc8862c810efbe1dcd    76
c47b970da888de5b0c0f299ed8a0cda7    51
b7aee4cb26febb88ffa780b5b70474e1    46
271277ca92f8c5142ef4547930402e25    40
9ef6a78a5b766814bc6b153ae6f98f6f    39
b16ba5b277c0e3b5821930ef04b52acc    33
ea05a2a12ce40e29289cc6dd9587b665    27
c67cd9070c66fa4ba123d57c545bee28    27
abbd71e553e9d2b2fe8b4fc4fcec551e    26
ca1441c0b8503ef6e77620bf602dae49    24
96cbc456976f2a1f8193d9dc37502aa7    23
3320e01c4f1d6fa898adbeda981150dc    21
7ebae810262304e22c8290f106bb9b7d    14
547b07145a4af0bdcb026af8af3f5b05    14
0057f94ed9cf672d1866745ca2324ac7    12
1be7b4ec4330e1fb03e56aa7e81368cb     6
bff3b24e342349f7eda673ee6228aeba     5
e4c48703b9319fd7b9132ff9080c69c3     3
afd7215063859ee8ff44731986839859     2
baee826a63b428981915076a9c6cd6a0     2
f96ad41c1d11394382264ca085d21945     2
cf84ad34de243829c53d5b3e83c500f5     2
58077f6af4a2135bd0c743dfa0b020a8     1
Name: scode, dtype: int64

In [29]:
counts = data.scode.value_counts()

res = data[~data.scode.isin(counts[counts < 7].index)]

In [33]:
res.scode.value_counts()

fb706770fada9fb20c6e76ddac98e65c    89
9808db3efa5781dc8862c810efbe1dcd    76
c47b970da888de5b0c0f299ed8a0cda7    51
b7aee4cb26febb88ffa780b5b70474e1    46
271277ca92f8c5142ef4547930402e25    40
9ef6a78a5b766814bc6b153ae6f98f6f    39
b16ba5b277c0e3b5821930ef04b52acc    33
c67cd9070c66fa4ba123d57c545bee28    27
ea05a2a12ce40e29289cc6dd9587b665    27
abbd71e553e9d2b2fe8b4fc4fcec551e    26
ca1441c0b8503ef6e77620bf602dae49    24
96cbc456976f2a1f8193d9dc37502aa7    23
3320e01c4f1d6fa898adbeda981150dc    21
7ebae810262304e22c8290f106bb9b7d    14
547b07145a4af0bdcb026af8af3f5b05    14
0057f94ed9cf672d1866745ca2324ac7    12
Name: scode, dtype: int64

In [38]:
all_sessions = res['scode'].unique()
session_to_id_map = {}
for i in range(len(all_sessions)):
    session_to_id_map[all_sessions[i]] = 'id_' + str(i+1)

res['scode'] = res['scode'].map(session_to_id_map)
# transform( lambda x : session_to_id_map[x] )
res

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               timestamp scode  level
0    2021-04-23 07:44:08  id_1      6
1    2021-04-23 07:04:07  id_2      7
2    2021-04-22 14:56:25  id_3      4
3    2021-04-22 14:47:49  id_3      4
4    2021-04-22 13:51:47  id_4      2
..                   ...   ...    ...
580  2020-07-30 07:27:30  id_8      5
581  2020-07-29 20:09:07  id_9      1
582  2020-07-29 19:57:52  id_9      2
583  2020-07-29 19:46:33  id_9      3
584  2020-07-29 13:59:49  id_7      6

[562 rows x 3 columns]

In [41]:
res[['scode','level']].groupby(['level']).describe()

      scode
      count unique    top freq
level
0         3      2   id_4    2
1        20      8   id_9    6
2        73      9   id_4   39
3        76     11   id_9   20
4        90     13  id_14   14
5       120     15  id_14   21
6       137     12  id_14   44
7        43     11   id_2   14

In [44]:
data = pd.DataFrame()

unique_people = res['scode'].unique()
for session in unique_people:
    data_for_session = res[ res['scode'] == session ]
    if len(data_for_session) == 1:
        continue
    data = data.append(data_for_session)

data.groupby(['scode']).describe()

      level
      count      mean       std  min   25%  50%   75%  max
scode
id_1   21.0  4.571429  1.247855  1.0  4.00  5.0  5.00  7.0
id_10  14.0  5.642857  0.633324  5.0  5.00  6.0  6.00  7.0
id_11  33.0  3.757576  1.346994  1.0  3.00  4.0  5.00  7.0
id_12  23.0  3.478261  1.274561  1.0  3.00  3.0  4.50  6.0
id_13  27.0  2.888889  1.281025  1.0  2.00  3.0  3.50  7.0
id_14  89.0  5.561798  0.891310  4.0  5.00  6.0  6.00  7.0
id_15  12.0  3.666667  1.370689  1.0  2.75  4.0  5.00  5.0
id_16  14.0  5.642857  1.150728  3.0  5.00  5.5  6.75  7.0
id_2   27.0  6.259259  0.944319  4.0  6.00  7.0  7.00  7.0
id_3   24.0  4.291667  1.428869  0.0  3.75  4.0  5.00  7.0
id_4   51.0  2.078431  1.055332  0.0  2.00  2.0  2.00  6.0
id_5   40.0  4.825000  1.009887  2.0  4.00  5.0  6.00  6.0
id_6   76.0  4.828947  1.454997  2.0  4.00  5.0  6.00  7.0
id_7   26.0  5.884615  0.765607  4.0  5.25  6.0  6.00  7.0
id_8   46.0  4.543478  1.241979  1.0  4.00  5.0  5.00  7.0
id_9   39.0  2.615385  0.906566  1.0  2.00  3.0  3.00  4.0

In [45]:
accuracies_global = {}
classification_reports_all = {}

In [46]:
def plot_curves(timestamps, actual_values, predicted_values):
    for session in actual_values.keys():
        fig, ax = plt.subplots(1, 1, figsize=(10,6))
        fig.suptitle('For session : ' + str(session))
        ts = timestamps[session]
        av = actual_values[session]
        pv = predicted_values[session]
        ax.plot(ts, av, label='Actual')
        ax.plot(ts, pv, label='Predicted')
        ax.set_ylim([0.5,7.5])
        ax.legend()
        
        plt.show()